{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}

{% block content %}

	<div class="container">

  {% if error_message %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{error_message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}

    <h1>Add a Project</h1>
    <br/><br/>

      <form action="/dispproject" method="POST">

        <div class="mb-3">
          <label for="ProjectTitle" class="form-label">Project Title</label>
          <input type="text" class="form-control" id="ProjectTitle" 
          aria-describedby="emailHelp" placeholder="Project Title"
          name="prj_title", value="{{ prj_title }}">
        </div>


        <div class="mb-3">
          <label for="EstStart" class="form-label">Est. Start</label>
          <input type="text" class="form-control" id="EstStart" 
          aria-describedby="emailHelp" placeholder="Estimated Start"
          name = "est_start" value="{{ est_start }}">
        </div>

        <div class="mb-3">
          <label for="EstCost" class="form-label">Est. Cost</label>
          <input type="text" class="form-control" id="EstCost" 
          aria-describedby="emailHelp" placeholder="Estimated Cost"
          name = "est_cost" value="{{ est_cost }}">
        </div>

        <br/><br/>

        <button type="submit" class="btn btn-secondary">Submit</button>

      </form>

  </div>

{% endblock %}