{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}

{% block content %}

	<div class="container">
    <h1>Add a Project</h1>
    <br/><br/>

      <form action="/dispproject" method="POST">

        <div class="mb-3">
          <label for="ProjectTitle" class="form-label">Project Title</label>
          <input type="text" class="form-control" id="ProjectTitle" 
          aria-describedby="emailHelp" placeholder="Project Title"
          name="prj_title">
        </div>


        <div class="mb-3">
          <label for="EstStart" class="form-label">Est. Start</label>
          <input type="text" class="form-control" id="EstStart" 
          aria-describedby="emailHelp" placeholder="Estimated Start"
          name = "est_start">
        </div>

        <div class="mb-3">
          <label for="EstCost" class="form-label">Est. Cost</label>
          <input type="text" class="form-control" id="EstCost" 
          aria-describedby="emailHelp" placeholder="Estimated Cost"
          name = "est_cost">
        </div>

        <br/><br/>

        <button type="submit" class="btn btn-secondary">Submit</button>

      </form>

  </div>

{% endblock %}